.task__container {
	position: relative;
	width: 100%;
}

.tasks__layout {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 70%;
	margin: 0 auto;
	padding: 50px 0 0;
}

.tasks__user {
	padding: 20px 5px;
	border-bottom: 2px solid mediumslateblue;
}

.tasks__user h2 {
	font-size: 2rem;
}

.task {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	margin: 20px 0;
}

.task__description {
	min-width: 100%;
	text-align: left;
}
.task__description input {
	margin-right: 5px;
}

.newTask--button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.newTask--button button {
	padding: 10px 10px;
	font-size: 1.8rem;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	background-color: mediumvioletred;
	color: white;
	cursor: pointer;
}

.tasks__options {
	display: flex;
}
.tasks__options button {
	margin: 0 5px;
}

.edit--button {
	padding: 5px;
	font-size: 1.1rem;
	color: white;
	background: rgb(37, 236, 37);
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.remove--button {
	cursor: pointer;
	padding: 5px;
	font-size: 1.1rem;
	color: white;
	background: rgb(255, 95, 95);
	border: none;
	border-radius: 20px;
}
