* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainContainer {
	min-height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.uTable {
	width: 70%;
}

.uTable__header,
.uTable__user {
	display: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 50px;
	justify-items: center;
}

.uTable__header {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border: 2px solid mediumpurple;
}

.users--title {
	text-align: center;
	width: 100%;
	font-size: 2rem;
	padding: 10px;
}

.user--icon {
	color: mediumvioletred;
	align-self: center;
}

.title-border {
	border-left: 2px solid mediumpurple;
}
.user--item {
	font-size: 1.3rem;
	padding: 10px;
}
